@font-face {
    font-family: myFirstFont;
    src: url(fonts/dendritic-voltage.ttf);
}

body {
    margin: 0;
    font-family: Corbel;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: -100;
    height: 100vh;
    width: 100%;
    background: linear-gradient(270deg, #611fff, #08baff);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 28s ease infinite;
    -moz-animation: AnimationName 28s ease infinite;
    animation: AnimationName 28s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@keyframes AnimationName { 
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 300px;
    height: auto;
    margin-top: 2px;
}

.arrow-image {
    position: absolute;
    width: 49px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    cursor: pointer;
    animation: arrowAnimation 2s ease infinite;
}
@keyframes arrowAnimation {
    0% { bottom: 15px }
    50% { bottom: 13px }
    100% { bottom: 15px }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 94%;
}

h2 {
    margin-left: 80px;
    display: flex;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
}

h2 span:first-child {
    text-transform: uppercase;
    font-size: 50px;
    margin-right: 10px;
}

nav span a:first-child {
    margin-right: 50px;
}

a {
    text-decoration: none;
    position: relative;
    color: #000000;
}
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #000000;
    border-radius: 30%;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.parallax {
    font-size: 200%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}
.parallax-layer {
    padding: 500px 0;
    position: absolute;
}
.parallax-layer-base {
    transform: translateZ(0);
}
.parallax-layer-back {
    transform: translateZ(-1px);
}

section {
    margin-top: 100vh;
    height: 100vh;
    background-color: white;
    z-index: 1000;
}